.formstyle
{
width: 350px;
height: 370px;
margin: 20px auto;
border-radius: 5px;
padding: 20px;
text-align: center;
background-color: rgba(59, 70, 100, 1);
 
}
input:hover
{
background-color: Black;
}

*{
margin: 0;
padding: 0;
}

.btn{
width: 80px;
height: 50px;
font-size: 20px;
margin: 2px;
font-family: system-ui;
font-weight:bold;
cursor: pointer;
border-radius:10px;
background-color: rgba(234, 227, 219, 1);
color: rgba(24, 31, 50, 1);
}

.textview{
width: 320px;
height:50px;
text-align: right;
margin: 5px;
font-size: 25px;
padding: 5px;
border-radius: 10px;
color:rgba(255, 255, 255, 1);
background-color: rgba(24, 31, 50, 1);
}	
